#contacts{
  justify-items: center;
  background-image: url(../assets/images/Background_Contacts.png);
  background-size: cover;
  padding-block: 128px 200px;

  strong{
    color: var(--color-purple);
  }

  h2{
    margin-block: 8px 8px;
    color: var(--gray-600);
  }

  #buttons{
    margin-top: 48px;
    gap: 16px;

    #linkedin{
      background-image: url(../assets/icons/LinkedinLogo.svg);
    }
    #instagram{
      background-image: url(../assets/icons/InstagramLogo.svg);
    }
    #github{
      background-image: url(../assets/icons/GithubLogo.svg);
    }
    #email{
      background-image: url(../assets/icons/EnvelopeSimple.svg);
    }

  }
}

#button{
  width: 400px;
  height: 68px;
  background-color: var(--gray-300);
  border-radius: 8px;
  padding: 20px;

  justify-content: space-between;
  align-items: center;

  div{
    gap: 12px;
    align-items: center;

    div:nth-child(1){
      filter: brightness(0) saturate(100%) invert(59%) sepia(14%) saturate(374%) hue-rotate(186deg) brightness(92%) contrast(89%);
      background-size: cover;
      width: 28px;
      height: 28px;
    }

  }

  &:hover{
    div>div:nth-child(1){
      filter: brightness(0) saturate(100%) invert(44%) sepia(99%) saturate(337%) hue-rotate(162deg) brightness(100%) contrast(97%);
    }
    #arrow{
      filter: brightness(0) saturate(100%) invert(44%) sepia(99%) saturate(337%) hue-rotate(162deg) brightness(100%) contrast(97%);
    }
  }

}

#arrow{
  background-image: url(../assets/icons/ArrowUpRight.svg);
  filter: brightness(0) saturate(100%) invert(59%) sepia(14%) saturate(374%) hue-rotate(186deg) brightness(92%) contrast(89%);
  background-size: cover;
  width: 20px;
  height: 20px;
}

