header {
  /* height: 750px; */
  
  background-image: url(../assets/images/Background_Intro.png);
  background-size: cover;

  h1{
    color: var(--gray-600);
  }

  figure{
    margin: 0px auto 56px;
    #perfil {
      border: 2px solid var(--color-red);
      border-radius: 50%;
      object-fit: cover;    
      width: 96px;
      height: 96px;
      padding: 4px;
    }

  }

}

.container {
  width: 1040px;
  text-align: center;
  padding-inline: 143px;
  margin: 0px auto 0px;
}

#codeimg{
  position: relative;
  top: 64px;
  left: 64px;
}

#presentation{
  width: 680px;
  text-align: center;
  margin: 130px auto 80px;

  h1{
    margin-block: 8px 20px;
  }
}

#container-tags{
  height: 40px;
  padding: 0px;
  margin-block: 0px 96px;

  div{
    width: 24px;
    height: 24px;
    background-size: contain;  
  }
}

#github{
  background-image: url("../assets/icons/GitHub.svg");
  filter: brightness(0) saturate(100%) invert(100%) sepia(90%) saturate(1151%) hue-rotate(181deg) brightness(86%) contrast(88%);
}

#html{
  background-image: url("../assets/icons/HTML.svg");
  filter: brightness(0) saturate(100%) invert(63%) sepia(8%) saturate(7329%) hue-rotate(312deg) brightness(89%) contrast(100%);
}

#css{
  background-image: url("../assets/icons/CSS.svg");
  filter: brightness(0) saturate(100%) invert(42%) sepia(80%) saturate(403%) hue-rotate(162deg) brightness(108%) contrast(98%);
}

#javascript{
  background-image: url("../assets/icons/JavaScript.svg");
  filter: brightness(0) saturate(100%) invert(64%) sepia(100%) saturate(220%) hue-rotate(2deg) brightness(97%) contrast(97%);
}

#react{
  background-image: url("../assets/icons/React.svg");
  filter: brightness(0) saturate(100%) invert(42%) sepia(80%) saturate(403%) hue-rotate(162deg) brightness(108%) contrast(98%);
}

#node{
  background-image: url("../assets/icons/Node.js.svg");
  filter: brightness(0) saturate(100%) invert(67%) sepia(49%) saturate(445%) hue-rotate(49deg) brightness(91%) contrast(92%);
}