header {
  /* height: 750px; */
  
  background-image: url(../assets/images/Background_Intro.png);
  background-size: cover;

  figure{
    margin: 0px auto 56px;
    #perfil {
      border: 2px solid var(--color-red);
      border-radius: 50%;
      object-fit: cover;    
      width: 96px;
      height: 96px;
      padding: 4px;
    }

  }

}

.container {
  width: 1040px;
  text-align: center;
  padding-inline: 143px;
  margin: 0px auto 0px;
}

#codeimg{
  position: relative;
  top: 64px;
  left: 64px;
}

#presentation{
  width: 680px;
  text-align: center;
  margin: 130px auto 80px;

  h1{
    margin-block: 8px 20px;
  }
}

#container-tags{
  height: 40px;
  padding: 0px;
  margin-block: 0px 96px;
}

#github{
  width: 24px;
  height: 24px;
  background-image: url("../assets/icons/GitHub.svg");
  background-size: contain;
  
}

