#projects {
  justify-items: center;
  margin-block: 72px 144px;

  h2{
    margin-block: 6px 56px;
    color: var(--gray-600);
  }

  #cards{
    gap: 24px;
  }
}

.card{
  width: 330px;
  height: 280px;
  background-color: var(--gray-300);
  border-radius: 8px;
  padding: 12px;

  h3{
    margin-block: 20px 8px;
    font: var(--title-sm);
    color: var(--gray-600);
  }

  p{
    font: var(--text-sm);
  }

  img{
    width: 306px;
    border-radius: 8px;
  }
}

.grid-areas{
  grid-template-areas: 
  "Project1 Project2 Project3"
  "Project4 Project5 Project6"
  ;
}


