#services{
  justify-items: center;
  background-color: var(--gray-100);
  padding-block: 86px 120px;
  
  h2{
    margin-block: 8px 56px;
  }

  div{
    gap: 24px;

    figure{
      border: 2px solid var(--gray-200);
      border-radius: 12px;
      padding: 20px;

      h3{
        margin-block: 20px 8px;
      }
    }
  }
}

.services-grid-area{
  grid-template-areas: "area1 area2 area3";
}