.grid {
  display: grid;
}

.grid-columns {
  grid-auto-flow: column;
}

.tags{
  gap: 8px;
  align-items: center;

  background-color: var(--gray-300);
  padding: 8px 16px;
  border-radius: 999px;

  img{
    width: 24px;
    height: 24px;
  }
}

