.grid {
  display: grid;
}

.grid-columns {
  grid-auto-flow: column;
}

.grid-2-cols {
  grid-template-columns: 1fr 1fr 1fr;
}

.tags{
  gap: 8px;
  align-items: center;

  background-color: var(--gray-300);
  padding: 8px 16px;
  border-radius: 999px;

  img{
    width: 24px;
    height: 24px;
  }
}

.tx-subtitle{
  font: var(--subtitle);
}
.tx-title-lg{
  font: var(--title-lg);
}
.tx-title-md{
  font: var(--title-md);
}
.tx-title-sm{
  font: var(--title-sm);
}
.tx-sm{
  font: var(--text-sm);
}
.tx-md{
  font: var(--text-md);
}

