:root{
    --bg-color: lightgreen;

}

div {

    --bg-color: black;

    background-color: var(--bg-color);

    width: 20px;
    height: 20px;
}

body {
    --bg-color: lightblue;

    background-color: var(--bg-color);
}