p {
    color: blue;
    text-align: center;
    line-height: 1.5;
    letter-spacing: 1;
    word-spacing: 2px;
    font: italic small-caps bold 16px/1.6 Oswald;
}
mark{
    color: brown;
    text-transform: uppercase;
}
a{
    text-decoration: line-through red wavy;
}