nav {
  display: flex;
  justify-content: space-between;
  padding-block: 20px;
  align-items: center;
  line-height: 0;
}

nav ul {
  display: flex;
  list-style: none;
  align-items: center;
  gap: 20px;
  padding-block: 8px;
}

nav ul li:last-child img {
  height: 40px;
  width: 40px;
  object-fit: cover;
  border-radius: 50%;
}

